/* Overraides default value */
$primary: rgba(89, 50, 234, 1);
$secondary: #6c757d;
$success: #198754;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #212529;
$body-bg: #ebeef2;
$body-color: #334155;
$aside-color: #ffffff;

/* Components custom colors */

$block: white;

$setting: rgba(40, 53, 71, 0.3);
$interface-icons: #2f3c4e;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark,
    "body-bg": $body-bg,
    "body-color": $body-color,

    /* Custom */ "aside-color": $aside-color,
    "block": $block,
    "setting": $setting,
    "interface-icons": $interface-icons,
);

$font-size-base: 1rem;

$h1-font-size:                $font-size-base * 2.5;
$h2-font-size:                $font-size-base * 2;
$h3-font-size:                $font-size-base * 1.75;
$h4-font-size:                $font-size-base * 1.5;
$h5-font-size:                $font-size-base * 1.25;
$h6-font-size:                $font-size-base;
$h7-font-size:                $font-size-base * .87;

$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size,
  7: $h7-font-size,
);
